[submodule "Marble/vendor/spdlog"]
	path = Marble/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Marble/vendor/GLFW"]
	path = Marble/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Marble/vendor/imgui"]
	path = Marble/vendor/imgui
	url = https://github.com/TheCherno/imgui
